<section class="card">
  <a href="/posts/{{id}}">
    <header>{{title}}</header>
  </a>
   <h2>Created by user {{user.username}} at </h2>
   {{!-- {{format_time createdAt}} --}}
  <p>{{post_body}}</p>
  <textarea name="comments" id="comment" cols="100" rows="5"></textarea>
   
  
</section>