<div id="postDiv">
    <h3>{{title}}</h3>
    <p id="user">By: {{user.user_name}}</p>
    {{!-- <p id="update">Created at: {{createdAt}}</p> --}}
    <button id="viewBtn"><a href="/dashboard/{{id}}">Edit/Delete</a></button>
    <p id="postContent">{{post_body}}</p>
</div>